.CartPage{
    display: flex;
    justify-content: center;
}
.CartPage .sub-CartPage{
    width: 80%;
    background-color: var(--light-gray);
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}
.CartPage .sub-CartPage .cart{
    position: relative;
    width: 100%;
}
.CartPage .sub-CartPage .cart .head{
    border-bottom: 1.5px solid var(--brandcolor);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.CartPage .sub-CartPage .cart .head h3{
    font-size: 1rem;
    font-weight: 700;
}


