Table{
    overflow-x: scroll;
}
Table tbody tr td img{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
Table tbody tr td #pup{
    position: fixed;
    width: 90vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--light-gray);
    display: none;
    animation: pup-up 1s ease-in-out;
}
@keyframes pup-up {
    from{
        top: 0;
        right: 0;
        width: 0vw;
    }
    to{
        top: 0;
        right: 0;
        width: 90vw;
    }
}
Table tbody tr td:hover #pup{
    display: block;
}
Table thead tr th{
    position: sticky;
}