a{
    color: rgb(10, 55, 91) !important;
    text-decoration-line: none !important;
}


:root{
    --brandcolor: #198754 !important;
    --brandcolor-dark: #0a492c !important;
    --brandcolor-opacity: rgba(23, 130, 80, 0.283) !important;
    --brandcolor-light: #6bbb96 !important;
    --gray: #bdbdbd;
    --light-gray: #e2e3e5;
}
